body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.board {
    border: 2px solid #a3d3d5;
    margin: 10px auto;
    max-width: 800px;
    background-color: #eeeff1;
}

h1 {
    text-align: center;
    color: #84b71c;
}

button {
    padding: 5px;
    border-radius: 10%;
    background-color: #84b71c;
    color: #FFFFFF;
}

.column-container {
    border: 2px dashed #84b71c;
    margin: 20px;
}

.column {
    display: inline-block;
    width: 33%;
    border: 1px solid #a3d3d5; 
}

.column-title {
    font-size: 25px;
    color: #84b71c;
    text-align: center;
}

.column-title:after {
    content: '';
	display: block;
	border: 1px solid #84b71c;
    width: 100px;
    margin: 0 auto;
}